div, body, h1, p, header {
	margin: 0;
	border: 0;
	padding: 0;
}

h1 {
	#font-size: 00%;
	margin: 2% 1%;
}

header {
	text-align: center;
	margin: 2%;
	min-width: 3%;
}

#mode {
	display: flex;
	justify-content: space-between;
	padding: 0 40%;
}
